// Colors
$color-primary             = convert(hexo-config('primary_color'));
$color-background          = #fff;
$color-border              = #eee;
$color-title               = #000;
$color-text                = #333;
$color-text-secondary      = #999;
$color-text-deleted        = #777;
$color-code-bg             = #f7f7f7;

// Dark Theme
$color-primary-dark        = convert(hexo-config('primary_color_dark'));
$color-background-dark     = #181a1b;
$color-border-dark         = #35393b;
$color-title-dark          = #e8e6e3;
$color-text-dark           = #c8c3bc;
$color-text-secondary-dark = #a8a095;
$color-text-deleted-dark   = #9d9488;
$color-code-bg-dark        = #1d1f20;

// Fonts
$font-family-headings  = 'Source Han Serif SC', 'Source Han Serif CN', 'Noto Serif CJK SC', 'Noto Serif SC', serif;
$font-family-base      = 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei';
$font-family-content   = 'Roboto Slab', $font-family-base, sans-serif;
$font-family-monospace = 'Fira Mono', 'Courier New', $font-family-base, monospace;

// Responsive
$content-width-desktop = 900px;
