// Colors
$color-primary         = convert(hexo-config('primary_color'))
$color-border          = #eee;
$color-text            = #333;
$color-text-secondary  = #999;
$color-code-bg         = #f7f7f7;

// Fonts
$font-family-headings  = 'Source Han Serif SC', 'Source Han Serif CN', 'Noto Serif CJK SC', 'Noto Serif SC', serif;
$font-family-base      = 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei';
$font-family-content   = 'Roboto Slab', $font-family-base, sans-serif;
$font-family-monospace = 'Fira Mono', 'Courier New', $font-family-base, monospace;

// Responsive
$content-width-desktop = 900px;
