// Colors
$color-primary         = #7065a3; // https://irocore.com/sumire-iro/
$color-boder           = #eee;
$color-text            = #333;
$color-text-secondary  = #999;
$color-code-bg         = #f7f7f7;

// Fonts
$font-family-chinese   = 'Source Han Sans SC', 'Source Han Sans CN', 'Noto Sans CJK SC', 'PingFang SC', 'WenQuanYi Micro Hei', 'Microsoft YaHei';
$font-family-base      = 'PT Serif', Georgia, $font-family-chinese, sans-serif;
$font-family-headings  = 'Roboto Slab', 'Source Han Serif SC', 'Noto Serif SC', $font-family-base;
$font-family-content   = $font-family-base;
$font-family-monospace = 'Fira Mono', consolas, Courier, $font-family-chinese, monospace;

// Responsive
$content-width-desktop = 900px;
