// Colors
$color-primary         = #7065A3; // https://irocore.com/sumire-iro/
$color-primary-variant = #8F82BC; // https://irocore.com/fujimurasaki/
$color-boder           = #EEE;
$color-text            = #333;
$color-text-secondary  = #999;
$color-code-bg         = #F7F7F7;

// Fonts
$font-family-chinese   = 'PingFang SC', 'Microsoft YaHei';
$font-family-base      = 'PT Serif', Georgia, $font-family-chinese, sans-serif;
$font-family-headings  = 'Roboto Slab', 'Noto Serif SC', $font-family-base;
$font-family-content   = $font-family-base;
$font-family-monospace = 'Source Code Pro', consolas, Courier, $font-family-chinese, monospace;

// Responsive
$content-width-desktop = 900px;

// Reset
h-hangable h-cs h-char.bd-end {
  line-height: 1.2 !important;
}

h-char.biaodian {
  font-family: $font-family-chinese, sans-serif;
}

em:lang(ja), em:lang(zh) {
  // Restore emphasis mark in Han.css
  -moz-text-emphasis: initial;
  -webkit-text-emphasis: initial;
  text-emphasis: initial;
  -moz-text-emphasis-position: initial;
  -webkit-text-emphasis-position: initial;
  text-emphasis-position: initial;
  font-style: italic;
  border-bottom: initial;
  padding-bottom: initial;
  border-bottom-width: initial;
  padding-bottom: initial;
}

// Minimal responsive
mobile() {
  @media (max-width: 767px) {
    {block};
  }
}

tablet() {
  @media (min-width: 768px) and (max-width: 991px) {
    {block};
  }
}

desktop() {
  @media (min-width: 992px) {
    {block};
  }
}

// Minimal grid system
.row {
  display: flex;
  flex-wrap: wrap;
}

.col-12, .col-md-3, .col-md-8, .offset-md-1 {
  position: relative;
  width: 100%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }
}

body {
  font-family: $font-family-content;
  color: $color-text;
  font-size: 16px;

  +mobile() {
    padding: 0 1.5em;
  }

  +tablet() {
    padding: 0 1.5em;
  }
}

::selection {
  background: rgba($color-primary, 0.6);
  color: #FFF;
}

header {
  padding: 2em 0;
  border-bottom: 1px solid $color-boder;
}

footer {
  text-align: center;
  padding: 1.5em 0;
}

.container {
  margin: 0 auto;
  max-width: $content-width-desktop;
}

main {
  line-height: 1.7;

  .container {
    padding: 1.5em 0;
  }
}

img {
  max-width: 100%;
}

del {
  color: #777;
}

strong {
  font-family: $font-family-content !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: 600;
  color: #000;

  &:hover .headerlink:before {
    content: '#';
    float: left;
    padding-right: 1em;
    margin-left: -0.8em;
    position: absolute;
  }
}

a {
  color: $color-primary;
  transition: all 0.2s ease-out;

  &:hover {
    color: $color-primary-variant;
    text-decoration: underline;
  }
}

pre, code, kbd, samp {
  font-family: $font-family-monospace !important;
}

code {
  padding: .2em .4em;
  font-size: 90%;
  background-color: $color-code-bg;
  border-radius: 3px;
}

// Copied from GitHub
kbd {
  padding: .1em .5em;
  font-size: 90%;
  background: #FFF;
  border: 1px solid #ADB3B9;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #FFF inset;
}

pre {
  white-space: pre;
  background-color: $color-code-bg;
  border: 0;
  overflow: auto;
  font-size: 90%;
  line-height: 1.5;
  border-radius: 3px;

  code {
    display: block;
    background-color: transparent;
    padding: initial;
    font-size: 100%;
    padding: 1em !important;

    &.hljs {
      background: transparent;
    }
  }
}

// General blockquote style
quote-style = @block {
  font-family: $font-family-content !important;

  // Reset
  margin: 0;
  margin-left: 0 !important;

  padding: .7em 1em;
  border-left: .25em solid rgba($color-primary, 0.6);
  background-color: rgba($color-primary, 0.05);

  p {
    margin-top: 0;
    margin-bottom: .7em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

blockquote {
  {quote-style}
}

.site-name {
  .logo {
    font-weight: 600;
    color: $color-text;
    font-size: 2em;
    font-family: $font-family-headings;
  }

  .description {
    margin: .5em 0 0;
    font-size: 1em;
    color: $color-text-secondary;
    display: block;
  }

  a {
    color: $color-text;
  }

  a:hover {
    text-decoration: none;
  }
}

// Avoid styling gist
table:not(.highlight) {
  display: block;
  width: 100%;
  overflow: auto;

  th {
    font-weight: bold;
  }

  td, th {
    padding: 6px 13px;
    border: 1px solid #DDD;
  }

  tr {
    background-color: #FFF;
  }

  tr:nth-child(2n) {
    background-color: $color-code-bg;

    code {
      background-color: #FFF;
    }
  }
}

// Post style
.post {
  padding: 1.5em 0;

  & + & {
    border-top: 1px solid $color-boder;
  }
}

.post:first-child {
  padding-top: 0;
}

h1.post-title {
  font-size: 1.8em;
  margin: 0 0 .5em;
}

h2.post-title {
  margin: 0 0 .5em;
  font-size: 1.5em;
}

.post-title a {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: $color-primary;
    text-decoration: underline;
  }
}

.post-meta {
  font-family: $font-family-monospace;
  color: $color-text-secondary;
  margin: 0 0 1em;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .post-meta-tags {
    a.tag-link:before {
      content: '#';
    }

    // Don't break tags line
    white-space: nowrap;
  }

  .post-meta-item + .post-meta-item::before {
    content: ' / ';
  }

  +mobile() {
    .post-meta-item-indicator {
      display: none;
    }
  }
}

.post-collapse .post-meta {
  margin: 0;
}

.post-toc {
  display: none;
  margin: 1em 0 0;
  padding: 1em .5em;
  font-size: 90%;

  ul, ol {
    list-style: none;
    line-height: 1.6;
    padding-left: 1em;
    margin: 0;
  }
}

.post-toc, .post-copyright, .post-warning {
  {quote-style}
  margin: 1em 0;
}

.post-content {
  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1.5em;
  }

  ul, ol {
    line-height: 2;
  }

  hr {
    border: none;
    margin: 1.5em 0;
    text-align: center;
    display: block;
    height: auto;

    &::after {
      content: "***";
      font-family: $font-family-monospace;
      letter-spacing: 2em;
      padding-left: 2em;
      color: $color-text-secondary;
    }
  }

  a.more-link {
    text-decoration: none;
    font-family: $font-family-monospace;
  }
}

.archive-year-collection {
  margin: 0 !important;
  padding-bottom: 1em;
  padding-top: 1em;
  color: $color-primary;
  border-bottom: 1px solid $color-boder;
}

.post-collapse {
  h3.post-title {
    margin: 0;

    a {
      text-decoration: none;
    }

    a:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }

  .post-meta .post-meta-item a {
    color: $color-text-secondary !important;
    text-decoration: none;
  }
}

.comments {
  margin: 3em 0 1em;
}

.pagination {
  border-top: 1px solid $color-boder;
  padding: 2em 0 1em;
  text-align: center;

  a, span {
    margin: .5em;
  }
}

aside {
  .widget {
    font-size: 90%;

    ul, ol {
      list-style: none;
      line-height: 1.6;
      padding-left: 1em;
    }

    // first-level
    >ul, >ol {
      padding-left: 0;
    }
  }
}

+mobile() {
  .widget-toc {
    display: none;
  }

  article .post-toc {
    display: block;
  }

  #widget-recent-posts {
    display: none;
  }
}
